.navigation{
    position: relative;
    display: grid;
    grid-template-columns: 9rem 1fr;
    grid-template-rows: 9rem 1fr;
    @media (max-width:1185px) {
        grid-template-columns: 10rem;
        grid-template-rows: 9rem 1fr;
    }
        @media (max-width:915px)  {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 9999;
        }
        
    .profile{
        display: none;
        @media (max-width:580px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
        width: calc(100vw - 10rem);
        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            cursor: pointer;
        }
    
        .icon {
            cursor: pointer;
            width: 3.4rem;
            stroke: $color-black;
        }
    
        .bell {
            position: relative;
        }
    
        .dot {
            cursor: pointer;
            position: absolute;
            top: -160%;
            left: 45%;
            font-size: 6.4rem;
            color: #f19d6d;
        }
    
        .arrow-down {
            cursor: pointer;
            rotate: 90deg;
            stroke: #f2b08a;
        }
    
        .user-detail {
            cursor: pointer;
    
            p {
                font-size: 1.4rem;
                line-height: 1;
            }
    
            h3 {
                font-size: 1.8rem;
                color: $color-black;
            }
        }
    
        @media (max-width:580px) {
            display: flex;
            justify-content:flex-end;
            align-items: center;
            gap: 3rem;
            padding-right: 2rem;
            z-index: 9999;
            width: calc(100vw - 10rem);
            grid-column: 2/-1;
            grid-row: 1;
            background-color: #Fff;
        }
    }
    .sidebar{
        background-color: #fcfcfc;
        
        @media (max-width:580px) {
            margin-top: -1rem;
            grid-column: 1/-1;
            grid-row: 2;
            width: calc(100vw);
            height: 12rem;
        }

        &_logo{
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #d7d2ce;
            background-color: #fff;
            z-index: 9999;
            // @media (max-width:580px) {
            //     width: 7rem;
            //     height: 7rem;
            // }
        }

        .nav-list{
            
            .nav{
                height: calc(100vh - 17rem);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                .icon-menu{
                    display: none;
                }
                @media (max-width:455px) {
                    height: calc(100vh - 30rem);
                }
                @media (max-width:580px) {
                    flex-direction: row;
                    height: 10rem;
                    align-items: center;
                }
                @media (max-width:1185px) {
                    .icon {
                        position: relative;
                        
                        &-menu {
                            z-index: 999;
                            width: 25rem;
                            position: absolute;
                            top: 0;
                            left: 100%;
                
                            p{
                                cursor: pointer;
                                font-size: 2rem;
                                font-weight: 400;
                                color: #3a3a3a;
                                background-color: #f2ebe1;
                                padding: 1rem 2rem;
                            }
                
                        }
                    }
                
                    .icon:hover .icon-menu {
                        display: block;
                    }
                }
                @media (max-width:580px){
                    .icon {
                            position: relative;

                            &-menu {
                                z-index: 999;
                                width: 25rem;
                                position: absolute;
                                top: 120%;
                                left:-80%;

                                p {
                                    cursor: pointer;
                                    font-size: 2rem;
                                    font-weight: 400;
                                    color: #3a3a3a;
                                    background-color: #f2ebe1;
                                    padding: 1rem 2rem;
                                }

                            }
                        }

                    .icon:hover .icon-menu {
                        display: block;
                    }
                }
               
            }
            &__icon{
                width: 100%;
                height: 5.2rem;
                padding:8px 0;
                svg:hover,
                .homeicon{
                    background-color: #f2ebe1;
                    color: black;
                }
                cursor: pointer;
               
            }
                       
            .que-mark{
                svg{
                    width: 60%;
                    padding: 1rem;
                    border-radius: 50%;
                    background-color: black;
                    stroke: $color-white;
                }
                display: flex;
                justify-content: center;
                cursor: pointer;
                @media (max-width:580px) {
                    display: none;
                }
            }
        }
    }

    .side-nav{
        @media (max-width:1185px) {
            display: none;
        }
        background-color: #f2ebe1;
        padding-bottom: 1rem;
        border-bottom: 1px solid #d7d2ce;
        padding: 2.4rem 2rem 0 4rem;
        transition: all .4s;
        p{
            padding-top: 4px;
            font-size: 1.4rem;
            color: black;
            font-weight: 500;
            
        }
    }

    .navbar {
        @media (max-width:1185px) {
            display: none;
        }
        background-color: #f2ebe1;
        padding: 4rem;
        padding-top: 2rem;
        .menu{
            position: relative;
            &-head{
                cursor: pointer;
                margin-top: 2rem;
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 2rem;
                font-weight: 700;
                color: $color-black;
            
            }
            &-body{
                margin-left: 2rem;
                padding: 0 1rem;
                cursor: pointer;
                transition: all .4s;
               p{
                font-size: 1.6rem;
                font-weight: 400;
                color: #555;
                padding: 2px 0;
               }
               .bold{
                font-weight: 700;
                color: $color-grey-dark-3;
               }
            }
            
            .icon {
                width: 2.0rem;
            }
        }
    }
}

.menu-body {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
}

.menu-body.visible {
    display: block;
}

