%heading {
    font-family: Outfit;
    font-weight: 700;
}

.heading-1 {
    @extend %heading;
    font-size: 2.6rem;
    color: $color-black;
    line-height: 1;
}

.heading-2{
    @extend %heading;
    font-size: 2.2rem;
    color: $color-black;
}
