.home{
    padding: 2.4rem 2.4rem 0 4rem;

    input{
        height: 5rem;
        width: 90%;
        margin-top: 2rem;
        font-size: 2rem;
        background-image: url(../../img/search.png);
        background-size: 2.4rem;
        background-repeat: no-repeat;
        background-position: 2rem center;
        padding: 2.6rem;
        padding-left: 5.2rem;
        color:$color-grey-light-1;
        border: 2px solid #d7d2ce;
        border-radius: 10rem;
    }

    .project{
        margin-top: 5rem;
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                color: $color-primary;
                font-size: 2.2rem;
                font-weight: 400;
            }
        }

        .card{
            margin-top: 3rem;
            padding: 4rem 3rem;
            width: 40%;
            height: 50rem;
            background-color: $color-secondary;
            border-radius: 3.4rem;
            .head{
                display: flex;
                .people{
                    padding: 0.8rem 1.4rem;
                    font-size: 2rem;
                    background-color: $color-black;
                    color: $color-white;
                    border-radius: 50%;
                    z-index: 3;
                    border: 3px solid $color-secondary;
                }
                img{
                    width: 5.4rem;
                    height: 5.4rem;
                    border-radius: 50%;
                    margin-left: -2rem;
                    border: 3px solid $color-secondary;
                    
                }
                .person1 {
                    z-index: 2;
                }

                .person2 {
                    z-index: 1;
                }
            }
        }
    }
}