.side-page{
    padding-bottom: 1rem !important;
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    @media (max-width:915px) {
        overflow: visible;
        grid-column: 2/-1;
        padding: 2rem 5rem;
    }
    @media (max-width:710px) {
        grid-template-columns: 1fr;
    }
    @media (max-width:580px) {
        
        grid-row:4;
        grid-column: 1/-1;
    }
    @media (max-width:455px) {
        font-size: 45%;
        padding: 0 1.4rem 0 1rem;
        width: 100vw;
        background-color: #fcfcfc;
    }
    // @media (max-width:360px) {
    //     padding: 1rem 2rem;
    // }
    background-color: #fcfcfc;
    box-shadow: rgba(149, 157, 165, 0.18) 0px 2px 29px;
    padding: 2rem 3rem 0 3rem;
    @media (max-width:1060px) and (min-width:915px) {
        padding: 0 1rem;
        padding-top: 2rem;
    }
    &-head{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        @media (max-width:1085px) and (min-width: 915px) ,
            (max-width:510px){
            display: grid;
            grid-template-columns: 1fr 8rem;
        }
        @media (max-width:915px) {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            grid-column: 1/-1;
        }
    }
    .dot{
        align-self: flex-end;
        width: 5rem;
        @media (max-width:1085px),
            (max-width:510px) {
            grid-column: 2/-1;
            align-self: start;
        }
        @media (max-width:580px) {
            display: none;
        }

    }
    .side-page__nav{
        position: relative;
        align-self:normal;
        gap: 2rem;
        @media (min-width: 915px) and (max-width: 1085px) ,
            (max-width:510px){
            grid-column: 1/2;
            grid-row: 1/2;

            display: grid;
            grid-template-row: 1fr 1fr;
        }
        @media (max-width:915px) {
            gap: 5rem;
        } 
        
        a:link,
        a:visited {
            @media (max-width:1085px),(max-width:510px){
                grid-row: 2/3;
            }
            font-size: 1.6rem;
            text-decoration: none;
            display: inline-block;
            border: 1px solid $color-secondary;
            background-color: $color-primary;
            padding: 1rem 3rem;
            border-radius: 15rem;
            color: $color-white;
            cursor: pointer;
            transition: all .4s;
            @media (max-width:1085px) and (min-width:915px),
            (max-width:510px) {
                margin: 1rem 0;
                position: absolute;
                left: 50%;
                top: 0%;
                transform: translate(-30%,0);
                text-align: center;
                width: 100%;
            }
            @media (max-width:510px) {
                position: absolute;
                left: 40%;
                top: 0%;
            }
        }
    
        a:hover,
        a:active {
            // transform: translateY(-1px);
            box-shadow: rgba(0, 0, 0, 0.34) 0px 1px 10px;
            // @media (max-width:1085px){
            //     transform: translateY(0);
            //     transform: translateX(0);
            // }
        }
        img{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            cursor: pointer;
        }
        .icon{
            cursor: pointer;
            width: 3.4rem;
            stroke: $color-black;           
        }
        .bell{
            position: relative;
        }
        .dot{
            cursor: pointer;
            position: absolute;
            top: -160%;
            left: 45%;
            font-size: 6.4rem;
            color: #f19d6d;
        }
        .arrow-down{
            cursor: pointer;
            rotate: 90deg;
            stroke: #f2b08a;
        }
        
        .user-detail{
            cursor: pointer;
            p{
                font-size: 1.4rem;
                line-height: 1;
            }
            h3{
                font-size: 1.8rem;
                color: $color-black;
            }
        }
        .profile{
            justify-content: space-between;
            align-items: center;
            gap: 2rem; 

            @media (max-width:580px){
                display: none;
            }
        }
    }
    .team{

        @media (max-width:1085px){
            margin-top: 8rem;
        }
        @media (max-width:915px) {
           align-self:center;
            margin-top: 0;
        }
        @media (max-width:770px) {
            margin-top: 2rem;
            grid-column: 1/-1;
        }
        @media (max-width:510px) {
            margin-top: 8rem;
        }
        margin-top: 3.2rem;
        img{
            width: 6.2rem;
            height: 6.2rem;
            border-radius: 50%;
            &:hover {
                cursor: pointer;
            }
        }
        &-member{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            p{
                font-size: 2.4rem;
                color:$color-secondary;
                background-color: #fcf2e0;
                color: #f19d6d;
                font-weight:400;
                padding: 1.4rem 2rem;
                border-radius: 50%;
            }
            span{
                display:flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                padding: 0 0.8rem;
                font-size: 4rem;
                height: 4rem;
                border:2px dashed #f19d6d;
                border-radius: 50%;
                color: #f19d6d;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .project-detail{
        @media (max-width:770px) {
            grid-column: 1/-1;
        }
        width: 100%;
        height: 11rem;
        padding:2.6rem;
        margin: 4rem auto;
        border-radius: 2rem;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 2px 29px;

        p{
            font-size: 1.5rem;
            font-weight: 400;
        }
        
    }
    .daily-task{
        .heading-2 {
                margin-bottom: 1.2rem;
            }
        @media (max-width:915px) {
            grid-column: 1/-1;
        }
        
        .boxes{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1.6rem;
            @media (max-width:915px) and (min-width:770px) {
                grid-template-columns: repeat(4 , 1fr);
                margin-bottom: 2rem;           
            }
            
        }
        .edit{
            font-size: 2rem;
            color: #f19d6d;
            font-weight: 400;
        }
        .task,
        .add{
            padding: 2rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 2rem;
            &-3{
                background-color: #f0884e;
            }
            &:hover {
                cursor: pointer;
            }
            .head-nav{
                justify-content: flex-end;
                .circle {
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    &-1{background-color: #ff6161;}
                    &-2{background-color: #00cbb3;}
                    &-3{background-color: $color-white;}
                }
                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: $color-black;
                }
                .done{
                    color: $color-white;
                    font-weight: 300;
                }
                .box:hover {
                    cursor: pointer;
                }
                
            }
            .text{
                // margin: 1rem 2rem 0 1rem;
                padding: 1rem 0 0 0;
                font-size: 1.6rem;
                font-weight: 400;
                
                &-1,
                &-2{
                    color: $color-black;
                }
                &-3{
                    color: $color-white;
                    font-weight: 300;
                }
            }

            &:hover{
                transform: scale(1.015);
                transition: all .2s;
            }
        }

        .add{
            background-color:#fcf2e0;
            font-size: 1.8rem;
            font-weight: 400;
            color: black;
            position: relative;
            &::after{
                content: "+";
                font-weight: 200;
                font-size: 3.2rem;
                position: absolute;
                bottom: 1rem;
                right: 3rem;
            }
        }
    }
}